<body id="cityBG">
    <div class="container">
        <h1 id="cityTitle">Choose a City</h1>
        <div class="row">
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/cards/london.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">London<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">London<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        <p><a href="#">Select</a></p>
                    </div>
                </div>
            </div>
            <div class="col s4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/cards/paris.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Paris<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Paris<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    <p><a href="#">Select</a></p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/cards/newyorkcity.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">New York<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">New York<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    <p><a href="#">Select</a></p>
                </div>
            </div>
        </div>
        </div>

    </div>

    
</body>