<div>
	<div>
    	<h2>Enter Search Parameters:</h2>
    	<form id="example-form" action="/formResponse" method="post">

	     	<div>
	        	<label for="city">City Name:</label>
	        	<input type="text" id="city" name="city">
	      	</div>

	      	<div>
	        	<label for="numBedrooms">Number of Bedrooms</label>
	        	<input type="text" id="numBedrooms" name="numBedrooms">
	      	</div>

	      	<div>
	        	<label for="maxRent">Max Nightly Rent:</label>
	        	<input type="text" id="maxRent" name="maxRent">
	      	</div>

	      	<div>
	        	<label for="minRent">Min Nightly Rent:</label>
	        	<input type="text" id="minRent" name="minRent">
	      	</div>

      		<button id="submit-button" type="submit">Submit</button>
    	</form>
	</div>
</div>
    