<div>
  <div>
    <h2>Enter a City:</h2>
    <form action="/formResponse" method="post">

      <div>
        <label for="city">City Name:</label>
        <input type="text" id="city" name="city">
      </div>

      <button id="submit-button" type="submit">Enter City:</button>
    </form>
</div>
</div>
    