<h1 id="test2">This is where we need to move elements from index.html</h1>
<h2 id="test">this text is red because the style sheet is attached</h2>
<h3>I added an id of "test" to the above element and placed that at the top of style.css sheet created by the front end team</h3>
