<div id="landingPage">
    <!-- Content -->
    <div class="container">
        <h1 id="homePageTitle">justgo</h1>
        <p id="homePageText">Find a rental. Find a friend.</p>
        <a class="waves-effect waves-light btn-large logInBtn modal-trigger" href="/form"><i class="material-icons right">perm_identity</i>Log In</a>
    </div>
</div>